/* allmänt */

:root {
    --backgroundColor: #C1F4CE;
    --backgroundSubColor: #5FA370;
    --mainColor: #F5DFC1;
    --subColor: #755C3C;
    --popupBackgroundColor: #D7C1F5;
    --popupSubColor: #543C75;
    --square: url('/img/square.webp')
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 15vh 1fr;
    grid-template-areas: 
    'popup'
    'main';
}

#wantSomeOfThis {
    grid-area: wantSome;

}

.imgSlideLoop {
    animation: imgSlideLoop 3s linear infinite;
    background: var(--square);
    background-size: contain;
    margin-top: 18vh;
    margin-bottom: 0;
    left: 0;
    height: 200%;
    width: 1800px; /* 400px */


    position: absolute;
}

@keyframes imgSlideLoop {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }

#winHere {
    grid-area: winHere;

}

body {
    background-color: var(--backgroundColor);
}

.popup{
    height: 100vh;
    width: 80vw;
    background: var(--popupBackgroundColor);
    position: fixed;
    top: 0;
    right: -90vw;
    transition: right 0.3s;
    box-shadow: -10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.popup-button{
    left: 75vw;
    top: 1vh;
    height: 10vh;
    grid-area: popup;
    cursor: pointer;
    display: inline;
    position: fixed;
}

.main {
    grid-area: main;
    display: grid;
    left: 2.5vw;
    width: 95vw;
    grid-template-rows: 3vh 35vh 1fr;
    grid-template-areas: 
    'wantSome'
    'imgSlide'
    'winHere';
    justify-items: center;
    overflow-y: hidden;
}

.show{
    right: 0;
}

.fade-layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.square {
    height: 100%;
    
}

/* MOBIL */

@media screen and (max-width: 412px) {
    body {
        
    }


}

/* DESKTOP */

